body {
		background-color: rgba(240,240,240,1);	

	    padding-top: 20px;
	    padding-right: 30px;
	    padding-bottom: 80px;
	    padding-left: 80px;
		
		border-top-style: solid;
		border-bottom-style: solid;
		
		font-family: Times New Roman;

	}

.navigation {

		text-align: center;
		margin-right: 50px;
	}
	

h1 {	

		text-align: center;
		padding-bottom: 30px;
		border-bottom-style: solid;
		border-width: 1px;
	}

.social-links {
		
		padding-top: 10px;
	}	

.text {
  		width: 40em;
  		overflow-wrap: break-word;
  		padding-bottom: 40px;
  		border-bottom-style	: solid;
		border-width: 1px;
	}



	
